{% extends 'base.html' %}

{% block conteudo %}
	<div class="container">
		<h1 style="text-align: center;">Integração Python e Flask</h1>
		<hr>
		<ul class="list-group">
			{% for nomes in nomes %}
			<li class="list-group-item">{{nomes}}</li>
			{% endfor %}
		</ul>
		<form action="{{url_for('principal')}}" method="POST" class="form-group">
			<label>NOME</label>
			<input class="form-control" type="text" name="nome" required placeholder="Digite o nome de um Nome:">
			<button class="btn btn-success">Adicionar</button>
		</form>
	</div>
{% endblock conteudo %}